<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Tracksy</string>
	<key>CFBundleIdentifier</key>
	<string>com.broduction.junctionx</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>13.1</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>FacebookAppID</key>
	<string>1769385409941946</string>
	<key>FacebookDisplayName</key>
	<string>Recasher</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please allow access to your location.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Please allow access to your location.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Please allow access to your location.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To attach a photo to your feedback, we need access to your Photo Library.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1769385409941946</string>
			</array>
			<key>CFBundleURLTypes</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleURLTypes</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.recasher.app</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLTypes</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.671642607414-o7b4f1bs3vo50ncq9bt3gtsamacjh6vi</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Branch Scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>recasher</string>
			</array>
			<key>CFBundleURLTypes</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>montserrat_bold.ttf</string>
		<string>montserrat_medium.ttf</string>
		<string>montserrat_regular.ttf</string>
		<string>montserrat_semi_bold.ttf</string>
		<string>sf_compact_display_black.ttf</string>
		<string>sf_compact_display_light.ttf</string>
		<string>sf_compact_display_medium.ttf</string>
		<string>sf_compact_display_regular.ttf</string>
		<string>sf_pro_display_semibold.ttf</string>
		<string>sf_pro_text_medium.ttf</string>
		<string>sf_pro_text_regular.ttf</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>We need your camera to scan your card for you.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Assets.xcassets/AppIcon.appiconset</string>
</dict>
</plist>
